body {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
header {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}
.nav-imag {
position: absolute;
top: 20vh;
z-index: -1;
 
}