.app-section {
    background-color: rgb(255, 251, 247);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-section .app-content {
    display: flex;
    align-items: center;
    height: 450px;
    width: 100%;
    justify-content: center;

}
.app-section .app-content .phone-image {
    background-image: url("https://b.zmtcdn.com/data/o2_assets/ce5bc038a8a2d4f8f24465c8826182af1726501431.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    height: 100%;
    width: 420px;
    
}
.app-heading {
    color: rgb(28, 28, 28) ;
    margin: 0px 0px 15px;
    font-weight: 500;
    font-size: 44px;
    line-height: 56px;
}
.app-discription {
    font-size: inherit;
    margin: 0px 0px 25px;
    color: rgb(54, 54, 54);
    width: 100%;
    line-height: 32px;
    font-size: 16px;
    font-weight: 200;
}
.app-options {
    justify-content: space-between;
    width: 50%;
    height: 40px;
    display: flex;
    font-size: 16px;
    display: flex;
}
.app-option {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    font-size: 16px;
}
input[type=radio] {
    accent-color: rgb(239, 79, 95);
}
.email-input {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}
input[type=email] {
    padding: 13px 12px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207);
    font-size: 18px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    box-sizing: border-box;
    color: rgb(28, 28, 28);
    font-weight: 200;
    height: 48px;
}
.email-input button {
    background-color: rgb(239, 79, 95);
    color: white;
    border: none;
    min-width: 150px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    padding: 0px 16px;
    transition: 0.25s all;
}
.email-input button:hover {
    background-color: rgb(242, 60, 78);
}
.store-discription {
    line-height: 15px;
     margin: 0px 0px 15px;
     color: rgb(156, 156, 156);
     font-size: 14px;
}
.store-button {
    gap: 20px;
}
.store-button img {
    object-fit: cover;
    position: relative;
    max-width: 100%;
    width: 13.7rem;
    height: 4rem;
    cursor: pointer;
}

